<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{panel.question}}</h3>
    </div>
    <form name="answerForm" ng-submit="panel.submitAnswer()">
        <div class="panel-body">
            <fieldset>
                <button type="button" ng-class="{active:panel.isActive($index)}" ng-click="panel.selectAnswer($index)" ng-repeat="option in panel.options" class="btn {{option.style}} btn-lg btn-block " >{{option.text}}</button>                            
            </fieldset>
            <fieldset>
                <button ng-hide="true" class="btn btn-default pull-right" type="submit">Submit</button>
            </fieldset>
        </div>
    </form>	
</div>