<div class="container">
    <div class="page-header">
        <h1>Quiz edition</h1>        
    </div>
    
    <form ng-submit="save()" ng-hide="error">
        <div class="input-group" style="margin-bottom: 20px;">
            <span class="input-group-addon" id="title">Title</span>
            <input type="text" ng-model="title" class="form-control" placeholder="Type a title for your quiz" aria-describedby="title">
        </div>        
        <div ui-sortable ng-model="questions" >
            <div class="panel panel-default" ng-repeat="question in questions">
                <div class="panel-heading">
                    <div>
                        <span class="glyphicon glyphicon-menu-hamburger close pull-left" aria-hidden="true" style=" cursor: move;" title="Move question" ></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Remove question" ng-click="removeQuestion($index)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div  style="margin-top: 30px;">
                        <div ng-show="!edit" ng-click="edit=true"  markdown-to-html="question.title"></div>
                        <textarea ng-show="edit" focus-me="edit" ng-blur="edit=false" class="form-control" rows="5" placeholder="Type here your question" ng-model="question.title" style="resize: none;"></textarea>
                    </div>
                    <div >
                        <a href="#"  ng-click="edit=true;" >Edit</a>
                    </div>
                    
                </div>
                <div class="input-group" ng-repeat="option in question.options track by $index">
                    <span class="input-group-addon">
                        <input type="radio"  ng-model="question.answer" ng-value="{{$index + 1}}">
                    </span>
                    <input type="text" class="form-control"  placeholder="Type an answer option" ng-model="question.options[$index]">
                </div>
            </div>
        </div>
        <p>
            <button type="button" ng-click="addQuestion()" class="btn btn-success center-block" ng-hide="hideSave">Add question</button>
        </p>
        <p>
            <button type="submit" class="btn btn-primary center-block" ng-hide="hideSave">Save</button>
        </p>
    </form>
    <div class="alert " ng-class="responseStyle" ng-show="response" role="alert">{{response}}</div>
</div>

<script>
    function handleDragStart(e) {
        this.style.opacity = '0.4';  // this / e.target is the source node.
    };

    var questions = document.querySelectorAll('.panel');
    [].forEach.call(questions, function (question) {
        question.addEventListener('dragstart', handleDragStart, false);
    });
</script>
